
.teacher-main {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu button, #addGradeBtn {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu button.active {
    background-color: var(--secondary-color);
    color: white;
}

.section {
    display: none;
    overflow-x: auto;
}

.section.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

td[contenteditable="true"] {
    background-color: #f9f9f9;
}