.classes-section {
    max-width: 800px;
    padding: 15px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    border: 5px solid var(--main-color);
    border-radius: 15px;
    margin: 25px auto;
}

.classes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.class {
    display: flex;
    border: 2px solid var(--main-color);
    padding: 5px;
    text-align: center;

    & a {
        display: flex;
        flex: 1;
        color: inherit;
        text-decoration: none;
    }

    & span {
        flex: 1;
        &:not(:last-child) {
            border-right: 2px solid var(--main-color);
        }
    }
}